.header {
    text-align: left;
    padding: 2px;
    background-color: blue;
    color:white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 5%;
    font-size: xx-large;
   



}


#wrapper1 {
    display: inline-block;

}

#wrapper2 {
    display: inline-block;

}

.img1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;



}


